*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
}
input,select,button{
    outline: none;
    border: none;
}
input:hover,select:hover{
    outline: none;
}
.hero-wrapper{
    height: 100svh;
    position: relative;
    border-bottom: 8px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.hero-wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000029;
}

.hero-wrapper img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 5rem;
    z-index: 1000;
    transform: translateX(-50%);
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar img{
    position: relative;
    height: 100%;
    width: 7rem;
    object-fit: contain;
}

.navbar  .item-wrapper{
    display: flex;
    gap:0.5rem;
}
.navbar .item-wrapper select{
    background: transparent;
    color: #fff;
    border: 1px solid #333;
    text-decoration: none;
    font-size:1rem;
    width: 7rem;
    height: 2rem;
    
}
option{
    background-color: #ffffff;
    color: #000000;
    padding: 0.8rem;
    width: 5rem;

}
.navbar .btn{
    background-color: red;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 500;
}




.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    gap: 0.5rem;
    text-align: center;
    padding-inline: 1rem;
}
.text-content h1{
    font-size: 3rem;
}
.text-content h2{
    font-size: 1.3rem;
    font-weight: normal;

}
.text-content span{
    font-size: 1.2rem;
}
.text-content button{
    padding: 0.5rem 1rem;
    background-color: #f50c0c;
    color: #fff;
    width: 20rem;
    height: 3.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;

    
    cursor: pointer;
}

.tv-wrapper{
    margin:2rem 0;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-bottom: 8px solid #333;
}
.tv-wrapper .tv-content{
    text-align: center;
    width: 100%;
    max-width: 30rem;
}

.tv-wrapper .tv-content h1{
    font-size: clamp(2rem, 4vw, 4rem);
    margin-bottom: 1rem;
}
.tv-img-wrapper{
    position: relative;
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 5px;
    background-color: green;
}
.tv-img-wrapper img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tv-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25rem;
    object-fit: cover;
}
@media (max-width: 768px){
    .hero-wrapper{
        height: 80svh;
    }
}